extends layout

block content
    div#map
      div.no-map
        // le bordel qui s'affiche si pas de map

    script.
      var socket = io();

      let marker;
      let map;

      if ("#{coordinate}") {
        let coordinate = {
          latitude: "#{coordinate.latitude}",
          longitude: "#{coordinate.longitude}"
        };

        map = createMap(coordinate);
        marker = createMarker(map, coordinate);
      } else {
        map = null;
        marker = null;
      }

      socket.on('connect', function () {
        socket.emit('connected', window.location.pathname.split('/')[2]);
      })

      socket.on('coordinate received', function (coordinate) {
         console.log(coordinate);

        if (!map) {
          $('.no-map').remove();

          map = createMap(coordinate);
        }

        if (!marker) {
          marker = createMarker(map, coordinate);

        } else {
          marker.setLatLng(new L.LatLng(coordinate.latitude, coordinate.longitude));
        }

        map.setView(new L.LatLng(coordinate.latitude, coordinate.longitude));
      });

      function createMap(coordinate) {
        map = L.map('map').setView([coordinate.latitude, coordinate.longitude], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        return map;
      }

      function createMarker(map, coordinate) {
        marker = new L.Marker([coordinate.latitude, coordinate.longitude])

        marker
          .addTo(map)
          .bindPopup('La personne que vous suivez est actuellement ici !')
          .openPopup()
        ;

        return marker;
      }
